body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.video-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.registro-container {
    margin-left: 20px;
    flex: 1;
    max-height: 240px; /* Para que não ocupe muito espaço */
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

.registro {
    background: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.registro img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}

p {
    margin: 10px 0; 
}
.confirmacao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    text-align: center;
    font-size: 1.2em;
}
